/* main page title */
.title{
    font-family:Algerian,broadway;
}
/* main page logo */
.logo{
    width: 70px;
    height: 70px;
    margin-top: -6px;
}
/* product card image */
.card-img-top{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

/* product card des */
.product-scale{
  display: -webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient: vertical;
  overflow: hidden;  
}

