*::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    background-color: #2F4F4F;
    color: black;
    height: 96px;
}

footer {
    background-color: #2F4F4F;
}

.logo {
    width: 70px;
    height: 70px;
    margin-top: -6px;
}

.title {
    font-family: Algerian, broadway;
    color: black;
    padding: 5px 0px 0px 5px;
}

.img {
    height: 83vh;
    object-fit: contain;
}

.btn {
    width: 85vw;
}

/* Default height for larger screens */
.carousel-inner img {
    height: 500px;
    /* Keeps laptop screen unchanged */
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel-inner img {
        height: 300px;
        /* Adjust height for tablets */
    }
}

@media (max-width: 576px) {
    .carousel-inner img {
        height: 200px;
        /* Adjust height for mobile screens */
    }
}